NEXT_GOOGLE_ID=
NEXT_GOOGLE_SECRET=
DATABASE_URL=
NEXT_PUBLIC_REDIRECT_URL=
NODE_ENV=
NEXTAUTH_SECRET=
TEST_RAZORPAY_API_KEY=
TEST_RAZORPAY_KEY_SECRET=
NEXT_PUBLIC_RAZORPAY_API_KEY=
NEXT_PUBLIC_RAZORPAY_KEY_SECRET=
GITHUB_ID=
GITHUB_SECRET=